* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 700px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sub-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.search-section {
  background-color: coral;
  width: 100vw;
  height: 20rem;
}

#search-sub-section {
  background-color: white;
  margin: 2rem;
  padding: 1rem;
  border-radius: 10px;
  height: 16rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

input {
  border: 0.8px solid black;
  border-radius: 10px;
  height: 2rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  border-radius: 10px;
  color: white;
  background-color: coral;
  width: 6rem;
  height: 3rem;
  margin: 2rem;
}

.input-section {
  max-width: 1000px;
  height: 40rem;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 900px) {
  .sub-container {
    display: flex;
    flex-direction: column;
  }
}